<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/index.css">

    <title>Simple Weather App</title>
</head>
<body>
    <br>
    <h1>Weather App</h1>
    <form method="POST">
        <!-- <label>Latitude: <input name="lat" required></label>
        <br>
        <label>Longitude: <input name="lon" required></label>
        <br> -->
        <label>City:
            <input name="city" placeholder="Name of City" required>
        </label>
        <br><br>
        <button type="submit">Get Forecast</button>
    </form>

    <br>

    <div>
        {% if weather %}
            <h2>Weather in {{city}} </h2>

            <div class="info-block">
                <div class="info-title">Temperature</div>
                
                <div class="temp-container">
                    <!-- NOTE: CHANGE IMG BASED ON TEMP -->
                    <img src="../static/images/sunny.png">

                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>

                </div>
            </div>

            <!-- FIXME -->
            <div class="weather-container">
                
                <div class="dayofweek-container">
                    <p>SUN</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>
                
                <div class="dayofweek-container">
                    <p>MON</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

                <div class="dayofweek-container">
                    <p>TUE</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

                <div class="dayofweek-container">
                    <p>WED</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

                <div class="dayofweek-container">
                    <p>THUR</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

                <div class="dayofweek-container">
                    <p>FRI</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

                <div class="dayofweek-container">
                    <p>SAT</p>
                    <ul>
                        <li>{{ weather.temperature }} °F</li>
                        <li>{{ weather.temperature | to_celsius }} °C</li>
                    </ul>
                </div>

            </div>

        {% elif error %}
            <!-- error is not specified? -->
            <p style="color: red;">Error: {{ error }}</p>
        {% endif %}
    </div>

</body>
</html>
